.model{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(21,31,39,0.9);
}
div{
	/* border: 1px solid red; */
}
.mp1{
	font-size: 1.6rem;
	font-weight: 700;
	color: white;
}
.model-top{
	width: 80%;
	height: 7.15rem;
	margin: 4rem auto;
	text-align: center;
}
.mp2>img{
	margin-left: 1rem;
	margin-top: 0.5rem;
}
.xian{
	display: flex;
	margin: 3rem auto;
	width: 80%;
	height: 0.1rem;
}
.youhui{
	font-size: 1.5rem;
	color: white;
	width: 8.05rem;
	height: 2rem;
	margin-top: -1rem;
}
.xian1{
	width: 11.2rem;
	height: 0.05rem;
	background: rgba(255,255,255,0.2);
}
.xian2{
	width: 11.2rem;
	height: 0.05rem;
	background: rgba(255,255,255,0.2);
}
.moul{
	width: 80%;
	height: 13.35rem;
	margin: 2rem auto;
}
.moul>li{
	width:100%;
	height: 2.5rem;
	font-size: 1.2rem;
	font-weight: 200;
	line-height: 2.5rem;
	text-align: left;
	color: white;
}
.moul>li>img{
	width: 1.5rem;
	height: 1.5rem;
}
.md-lr{
	width: 80%;
	text-align: left;
	font-size: 1.2rem;
	font-weight: 200;
	color: white;
}
#guan{
	display: inline-block;
	margin-right: 0rem;
}