.pl{
	width: 100%;
	height: 35.5rem;
	overflow: auto;
}
.pl-wai{
	width: 90%;
	height: 7.1rem;
	display: flex;
	margin-top: 1.3rem;
}
.pl-wai p{
	margin-bottom: 1rem;
}
.pl-zuo{
	width: 35%;
	height: 100%;
	border-right: 0.05rem solid #EFEFF0;
}
.pl-you{
	position: relative;
	width: 65%;
	height: 100%;
	text-align: left;
}
.p1{
	font-size: 2.4rem;
	color:rgb(255,153,0);
	line-height: 2.8rem;
}
.p2{
	font-size: 1.2rem;
	color:rgb(7,17,27);
	line-height: 1.2rem;
}
.p3{
	font-size: 1rem;
	color:#AEB3B7;
	line-height: 1rem;
}
.p4{
	font-size: 1.2rem;
	color:rgb(7,17,27);
	line-height: 1.8rem;
}
.p5{
	font-size: 1.2rem;
	color:rgb(7,17,27);
	line-height: 1.8rem;
}
.p6{
	font-size: 1.2rem;
	color:rgb(7,17,27);
	line-height: 1.8rem;
}
.span1{
	font-size: 1.2rem;
	color:rgb(147,153,159);
}
.div1{
	position: absolute;
	right: -0.5rem;
	top: 0.3rem;
	font-size: 1.2rem;
	color:rgb(255,153,0);
	line-height: 1.8rem;
}
.div2{
	position: absolute;
	right: -0.5rem;
	top: 3rem;
	font-size: 1.2rem;
	color:rgb(255,153,0);
	line-height: 1.8rem;
}
.zb{
	width: 100%;
	height: 1.8rem;
	background: #F3F5F7;
	margin-top: 1.8rem;
	border-top: 0.05rem solid #E6E7E8;
	border-bottom: 0.05rem solid #E6E7E8;
}
.tab{
	width: 90%;
	height: 5.2rem;
	margin-top: 2rem;
	border-bottom: 0.05rem solid #E9EBEC;
}
.tab>ul{
	width: 20.8rem;
	height: 3.1rem;
}
.tab>ul>li{
	float: left;
	height: 100%;
	width: 6rem;
	border: 1px solid gray;
	text-align: center;
	line-height: 3.1rem;
	margin-left: 0.7rem;
}

.zhikan{
	width: 100%;
	height: 3.75rem;
}
.zhikan>img{
	width: 12.3rem;
	height: 2.5rem;
	float: left;
	margin-left: 1rem;
	margin-top: 0.5rem;
}
.wdpl{
	width: 90%;
	height: 11.35rem;
	border-bottom: 0.05rem solid #EDEDED;
}